.sdg table{
    width: 100%;
    color: #7f7f83;
}


.sdg table thead{
    border-bottom: 1px solid grey;
    width: 100%;
    font-size: 11px;
    padding: 5px;
    font-weight: lighter;
}

.sdg table thead tr td{
    padding: 10px;
    color: #7f7f83c0;

}

.sdg table thead tr td:last-child{
    text-align-last: right;
}

.sdg table thead tr td:nth-child(3){
    text-align-last: center;
}


.sdg table tbody tr td{
    padding: 10px;
}

.sdg table tbody tr td:last-child{
    text-align-last: right;
}

.sdg table tbody tr td:nth-child(3){
    text-align-last: center;
}
